@use "normalize";
@use "infobox";
@use "row";
@use "banner";
@use "nav";

* {
  margin: 0;
}
body {
  background-color: #111;
  color: white;
}
@font-face {
  font-family: "Roboto-Regular, sans-serif";
  src: url(/Fonts/Roboto-Regular.ttf) format("truetype");
}
